{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Panier
{% endblock %}

{% block body %}
	<div class="container content-container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-primary my-5">Mon panier</h1>
			</div>
			<div class="row justify-content-center">
				<div class="col d-flex flex-wrap flex-column justify-content-start">
					{% for product in dataCart %}
						<div class="card mb-1" style="min-width: 540px;">
							<div class="row g-0">
								<div class="col-md-4">
									<img src="{{ vich_uploader_asset(product.product, 'imageFile') }}" class="img-fluid rounded-start m-3" alt="image de {{product.product.name}}">
								</div>
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">{{product.product.name}}</h5>
										<p class="card-text">Quantité :
											{{product.quantity}}
											<a class="btn btn-primary ms-3 rounded-pill" href="{{path('cart_add', {'id': product.product.id }) }}">
												<i class="bi bi-cart-plus"></i>
											</a>
											<a class="btn btn-primary rounded-pill" href="{{path('cart_remove', {'id': product.product.id }) }}">
												<i class="bi bi-cart-dash"></i>
											</a>
										</p>
										<p class="card-text">
											Prix total :
											{{product.product.price * product.quantity}}</p>
										<a class="btn btn-danger" href="{{path('cart_delete', {'id': product.product.id }) }}">
											<i class="bi bi-trash-fill"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						<div class="card" style="max-width: 540px;">
							<div class="card-body">
								Votre panier est vide.
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="col">
					<div class="card text-center">
						<div class="card-header">
							Informations du panier
						</div>
						<div class="card-body">
							<h5 class="card-title">Total du panier:
								{{total|number_format(2, '.', ',')}} €</h5>
							<a class="btn btn-success mt-3 mx-2" href="{{path('order_new') }}">
								<i class="bi bi-cart-check"></i>
								Commander
							</a>
							<a class="btn btn-danger mt-3 mx-2" href="{{path('cart_clear') }}">
								<i class="bi bi-cart-x"></i>
								Vider le panier
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
