{% extends 'base.html.twig' %}

{% block title %}
	{{ parent()}}
	- Mon compte
{% endblock %}

{% block body %}
	<div class="container content-container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-primary my-5">Mon compte</h1>
			</div>
			<div class="col-12 col-md-6">
				<h4 class="text-primary my-2">Mes informations personnelles</h4>
				<div class="mb-2">
					<h5>Nom d'utilisateur</h5>
					<p>{{user.username}}</p>
				</div>
				<div class="mb-2">
					<h5>E-mail</h5>
					<p>{{user.email}}</p>
				</div>
				<div class="mb-2">
					<a class="btn btn-primary mb-1" href="{{ path('user_edit', {'id': user.id}) }}">Modifier mes informations</a>
					<a class="btn btn-warning mb-1" href="{{ path('app_forgot_password_request') }}">Modifier mon mot de passe</a>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<h4 class="text-primary my-2">Mes commandes</h4>
				<div class="accordion mb-5" id="accordionExample">
					{% for order in user.orders %}
						{% if loop.first %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="{{'heading' ~ order.id}}">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="{{'#collapse' ~ order.id}}" aria-expanded="true" aria-controls="collapseOne">
										Commande référence :
										{{order.reference}}
										({{order.state}})
									</button>
								</h2>
								<div id="{{'collapse' ~ order.id}}" class="accordion-collapse collapse show" aria-labelledby="{{'heading' ~ order.id}}" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<table class="table">
											<tbody>
												{% for orderDetail in order.orderDetails %}
													<tr>
														<td>
															<strong>{{orderDetail.product.name}}</strong>
														</td>
														<td>{{orderDetail.quantity}}</td>
														<td>{{orderDetail.price|number_format(2, ',', ' ') }}
															€</td>
													</tr>
												{% endfor %}
											</tbody>
											<tfoot class="mb-0">
												<tr>
													<th colspan="2" class="text-end">Total de la commande :
													</th>
													<th scope="col">{{order.total|number_format(2, ',', ' ') }}
														€</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						{% else %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="{{'heading' ~ order.id}}">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="{{'#collapse' ~ order.id}}" aria-expanded="false" aria-controls="collapseTwo">
										Commande référence :
										{{order.reference}}
										({{order.state}})
									</button>
								</h2>
								<div id="{{'collapse' ~ order.id}}" class="accordion-collapse collapse" aria-labelledby="{{'heading' ~ order.id}}" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<table class="table">
											<tbody>
												{% for orderDetail in order.orderDetails %}
													<tr>
														<td>
															<strong>{{orderDetail.product.name}}</strong>
														</td>
														<td>{{orderDetail.quantity}}</td>
														<td>{{orderDetail.price|number_format(2, ',', ' ') }}
															€</td>
													</tr>
												{% endfor %}
											</tbody>
											<tfoot class="mb-0">
												<tr>
													<th colspan="2" class="text-end">Total de la commande :
													</th>
													<th scope="col">{{order.total|number_format(2, ',', ' ') }}
														€</th>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						{% endif %}
					{% else %}
						Pas de commandes passées
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
