{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block body %}
	<div class="container content-container">
		<h1 class="col text-center text-primary my-5">Bienvenue chez MySkateshop votre boutique en ligne</h1>
		<p class="col text-center my-3 mx-auto px-5 w-75">Vous trouverez ici le type de skate que vous rechercher que ce soit pour vous promener en ville ou encore faire des figures comme vos Skaters préférés. Visitez les catégories qui vous correspondent.</p>
		<div class="row row-cols-2 my-5">
			{% for category in categories %}
				{% set col = '' %}
				{% if categories|length is odd and loop.last %}
						{% set col = '-12' %}
				{% endif %}
				<a class="col{{col}} text-decoration-none g-3" href="{{ path("app_category_page", {'slug': category.slug}) }}">
					<div class="card bg-dark text-white">
						<img src="..." class="card-img" alt="photo de {{category.category}}" height="400">
						<div class="card-img-overlay d-flex justify-content-center align-items-center">
							<h5 class="card-title py-4 px-5 bg-light text-dark">{{category.category}}</h5>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
