{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-
	{{product.name}}
{% endblock %}

{% block body %}
	<div class="container content-container">
		<div class="row justify-content-center mb-5">
			<div class="col-12 my-5">
				<h1>Détail produit</h1>
			</div>
			<div class="col-4 text-center">
				<img class="border border-secondary rounded-2 p-2" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="image d'un {{ product.category.category }}" width="400" height="400">
			</div>
			<div class="col-4">
				<div class="row my-2">
					<div class="col-8">
						<h4>
							{{ product.name }}
						</h4>
					</div>
					<div class="col-4">
						<h4 class="text-primary">
							{{ product.price|number_format(2, ',', ' ')  }}
							€
						</h4>
					</div>
				</div>
				<div class="row mt-2 mb-5">
					<div class="col">
					<h5>Description :</h5>
					<p>
						{{ product.description }}
					</p>
					</div>
				</div>
				<div class="row my-2">
					<div class="col-12 mb-3">
					<form action="{{path('cart_add', {'id': product.id }) }}" method="post">
						<div class="col-3 d-flex align-items-center">
							<label for="formGroupExampleInput" class="form-label m-0">Quantité</label>
							<input type="number" name="quantity" class="form-control col-3 ms-5" id="formGroupExampleInput" value="1" min="1" max="{{product.stock}}">
						</div>
					</div>
					<div class="col	">
						<button type="submit" class="btn btn-primary">Ajouter au panier</button>
					</div>
					<form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
