{{ form_start(form, {
    attr: {
        class: 'border border-3 rounded-3 mt-2 p-3 p-md-5',
    }
}) }}
<h5 class="text-primary mb-4">Renseigner le formulaire :</h5>
<div class="form-floating mb-3">
	{{ form_errors(form.name) }}
	{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
	{{ form_label(form.name) }}
</div>
<div class="form-floating mb-3">
	{{ form_errors(form.description) }}
	{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
	{{ form_label(form.description) }}
</div>
<div class="row">
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_errors(form.price) }}
			{{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
			{{ form_label(form.price) }}
		</div>
	</div>
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_errors(form.size) }}
			{{ form_widget(form.size, {'attr': {'class': 'form-control'}}) }}
			{{ form_label(form.size) }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_errors(form.stock) }}
			{{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
			{{ form_label(form.stock) }}
		</div>
	</div>
	<div class="col">
		<div class="form-floating mb-3">
			{{ form_errors(form.minStock) }}
			{{ form_widget(form.minStock, {'attr': {'class': 'form-control'}}) }}
			{{ form_label(form.minStock) }}
		</div>
	</div>
</div>
<div class="form-check form-switch mb-3">
	{{ form_errors(form.isVisible) }}
	{{ form_widget(form.isVisible, {'attr': {'class': 'form-check-input'}}) }}
	{{ form_label(form.isVisible) }}
</div>
<div class="form-floating mb-3">
	{{ form_errors(form.category) }}
	{{ form_widget(form.category, {'attr': {'class': 'form-select'}}) }}
	{{ form_label(form.category) }}
</div>
<div class="form mb-3">
	{{ form_errors(form.imageFile) }}
	{{ form_label(form.imageFile) }}
	{{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
</div>
<button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
