{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Modifier produit{% endblock %}

{% block body %}
<div class="container content-container">
    <h1 class="text-primary mt-5 mb-2">Modifier {{product.name}}</h1>
    <div class="row mb-3">
        <div class="col d-flex justify-content-end">
            <a class="btn btn-secondary me-2" href="{{ path('product_index') }}">Retour à la liste</a>
            {{ include('product/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="row mb-5 justify-content-center">
        <div class="col-12 col-md-8">
            {{ include('product/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
</div>
{% endblock %}
