{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Détails
	{{product.name}}
{% endblock %}

{% block body %}
	<div class="container content-container">
		<h1 class="text-primary mt-5 mb-2">Détails
			{{product.name}}</h1>
		<div class="row">
			<div class="col d-flex justify-content-end">
				<a class="btn btn-secondary me-2" href="{{ path('product_index') }}">Retour à la liste</a>
				<a class="btn btn-warning me-2" href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
				{{ include('product/_delete_form.html.twig') }}
			</div>
		</div>
    <div class="row">
    <div class="col-3 mt-3">
        {% include "components/_card-product-show.html.twig" %}
    </div>
    <div class="col-8">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ product.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ product.name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ product.description }}</td>
				</tr>
				<tr>
					<th>Prix</th>
					<td>{{ product.price }}</td>
				</tr>
				<tr>
					<th>Taille</th>
					<td>{{ product.size }}</td>
				</tr>
				<tr>
					<th>Stock</th>
					<td>{{ product.stock }}</td>
				</tr>
				<tr>
					<th>Stock minimum</th>
					<td>{{ product.minStock }}</td>
				</tr>
				<tr>
					<th>Est en ligne ?</th>
					<td>{{ product.isVisible ? 'Oui' : 'Non' }}</td>
				</tr>
			</tbody>
		</table>
    </div>
    </div>
	</div>
{% endblock %}
